/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

div[date-rangepicker] > div {
      flex: 1 1 40%;
}
div[date-rangepicker] {
      flex: 1 0 370px;
}

